/*CROSS BROWSER FONTS*/
@font-face {
    font-family: myAileronsFont;
    src: url(../typefonts/Ailerons/Ailerons-Typeface.otf);
    src: url(../typefonts/Ailerons/Ailerons-Typeface.eot?#iefix)
             format('embedded-opentype'),
         url(../typefonts/Ailerons/Ailerons-Typeface.woff) format('woff'),
         url(../typefonts/Ailerons/Ailerons-Typeface.ttf) format('truetype');
}

@font-face {
  font-family: mySkyer-RegularFont;
  src: url(../typefonts/Skyer/Skyer-Regular.otf);
  src: url(../typefonts/Skyer/Skyer-Regular.eot?#iefix)
           format('embedded-opentype'),
       url(../typefonts/Skyer/Skyer-Regular.woff) format('woff'),
       url(../typefonts/Skyer/Skyer-Regular.ttf) format('truetype');
}

@font-face {
  font-family: myTrackFont;
  src: url(../typefonts/Track/Track.otf);
  src: url(../typefonts/Track/Track.eot?#iefix)
           format('embedded-opentype'),
       url(../typefonts/Track/Track.woff) format('woff'),
       url(../typefonts/Track/Track.ttf) format('truetype');
}

@font-face {
  font-family: myQuentinFont;
  src: url(../typefonts/Quentin/Quentin.ttf);
  src: url(../typefonts/Quentin/Quentin.eot?#iefix)
           format('embedded-opentype'),
       url(../typefonts/Quentin/Quentin.woff) format('woff'),
       url(../typefonts/Quentin/Quentin.ttf) format('truetype');
}

/*@font-face {
  font-family: myCornerstone;
  src: url(../typefonts/Cornerstone.ttf);
}*/

/*@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);*/

body {
  /* top, transparent red, faked with gradient */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/office-wallpaper-9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(to bottom, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
}

/* INDEX PAGE */
#indexLogo {
	position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	outline: .25vw solid white;
	outline-offset: 3vw;
	font-family: myAileronsFont;
	font-size: 3vw;
}

#indexLogo a{
  color: white;
  text-decoration: none;
}

/* HOME PAGE */
#navibar, #navibarBurger{
  font-family: myAileronsFont;
}

.showcase {
  /*height: 600px;*/
  margin-top: 50px;
  padding: 100px 100px;
  color: white;
}

.showcase h1{
  font-size: 150px;
  font-weight: 0;
  font-family: myQuentinFont;
  padding: 20px 0px;
}

.showcase hr{
  width:450px;
  margin: auto;
  border-width: 3px;
  border-color: red;
}

.showcase p {
  font-size: 35px;
  font-family: mySkyer-RegularFont;
  text-align: center;
  padding: 50px 0px;
  background-color: rgba(0,0,0,0.3);
  width:450px;
  margin: auto;
}

#doubleDown {
  font-size: 120px;
}

.typedElement{
  font-size: 35px;
  font-weight: 900;
  font-family: mySkyer-RegularFont;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

.typed-cursor2{
    padding-top: 75px;
    opacity: 1;
    -webkit-animation: blink 2.5s infinite;
    -moz-animation: blink 2.5s infinite;
    animation: blink 2.5s infinite;
}

.typed-cursor3{
    opacity: 1;
    -webkit-animation: blink 2.5s infinite;
    -moz-animation: blink 2.5s infinite;
    animation: blink 2.5s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#home, #services, #contactForm{
  background-color: rgba(0,150,136,0.3);
}

#getStarted, #portfolio{
  background-color: rgba(255,255,255,0.6);
}

#about, #contact{
  background-color: rgba(0,0,0,0.3);
}

#name, #last, #email, #phone, #message{
  background-color: rgba(0,0,0,0.4);
}

#accordions{
  background-color: rgba(0,0,0,0);
}

#about button{
  font-size: 25px;
  font-weight: 900;
  font-family: mySkyer-RegularFont;
}

#accWho, #accWhat, #accWhere {
  background-color: rgba(0,150,136,0.4);
  border-radius: 25px 25px;
}

.sectionGap{
  height: 100px;
}

.section{
  font-size: 20px;
  font-family: mySkyer-RegularFont;
  text-align: center;
  padding: 40px 0;
}

.section h2{
  font-size: 45px;
  font-weight: 900;
  font-family: myAileronsFont;
  padding: 0;
  margin: 0;
}

.section h3{
  font-size: 25px;
  font-weight: 900;
  font-family: myAileronsFont;
  text-align: center;
}

#contact{
  padding: 26px 0px;
}

#contactForm{
  border-radius: 125px 25px;
  padding: 20px 75px;
  display: inline-block;
  text-align: center;
}

.section form{
  font-family: mySkyer-RegularFont;
}

/*#contactButton{
  font-size: 35px;
  font-family: myAileronsFont;
}*/

.btnReshape {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: myAileronsFont;
  border-radius: 20px;
  overflow: hidden;
  width: 160px;
  -webkit-transition: all        1.2s;
  transition: all        1.2s;
  white-space: nowrap;
  /*font-family: 'Montserrat', sans-serif;*/
  background-color: rgba(0,150,136,0);
}

.btnReshape span {
  display: inline-block;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  /*font-weight: normal;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 25px;
  font-family: mySkyer-RegularFont;
  font-weight: 900;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s;
}

.btnReshape:hover {
  text-align: center;
  width: 400px;
  /*border: 5px solid #4CAF50;*/
}

.btnReshape:hover span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  /*text-decoration: underline;*/
}

footer{
  height: 48px;
}

#footbar{
  font-family: myAileronsFont;
  position: fixed;
	display: block;
	bottom: 0;
	width: 100%;
  height: 55px;
}

#locationAndWeath{
  font-family: myTrackFont;
  padding: 0px 25px;
  margin-top: 15px;
}

#icons_CpyRight{
  padding-top: 15px;
}

/*#footbar hr{
  display: none;
}*/

/*Mobile and smaller screens*/

@media only screen and (max-width: 700px) {
  body{
    background-image: linear-gradient(to top, #d7d2cc 0%, #304352 100%);
  }

  .showcase{
    /*height: 750px;*/
    padding: 30px 0;
  }

  .showcase h1{
    font-size: 80px;
    /*font-weight: 900;*/
    font-family: myQuentinFont;
    padding-bottom: 20px;
  }

  .showcase hr{
    width:325px;
    margin: auto;
    border-width: 3px;
    border-color: red;
  }

  .showcase p {
    font-size: 23px;
    font-family: mySkyer-RegularFont;
    text-align: center;
    paddingt: 25px 0px;
    background-color: rgba(0,0,0,0.3);
    width:325px;
    margin: auto;
  }

  #doubleDown {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .typedElement{
    font-size: 23px;
    font-family: mySkyer-RegularFont;
    text-align: center;
  }

  .btnReshape {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 900;
    font-family: myAileronsFont;
    border-radius: 20px;
    overflow: hidden;
    width: 135px;
    -webkit-transition: all        1.2s;
    transition: all        1.2s;
    white-space: nowrap;
    /*font-family: 'Montserrat', sans-serif;*/
  }

  .btnReshape span {
    display: inline-block;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    font-weight: normal;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 18px;
    font-family: mySkyer-RegularFont;
    opacity: 0;
    -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s;
  }

  .btnReshape:hover {
    text-align: center;
    width: 300px;
    /*border: 5px solid #4CAF50;*/
  }

  .btnReshape:hover span {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    /*text-decoration: underline;*/
  }

  #contact{
    padding: 35px 0px;
  }

  #formArea{
    padding-right: 30px;
  }

  #contactForm{
    border-radius: 25px 25px;
    padding: 20px 20px;
  }

  #footbar{
    font-family: myAileronsFont;
    height: auto;
    position: relative;
  }

  #locationAndWeath{
    padding: 20px 65px;
    text-align: center;
  }

  #locationAndWeath span{
    display: inline;
  }

  /*#footbar hr{
    width: 325px;
    margin: auto;
    border-width: 3px;
    border-color: red;
    display: block;
  }*/
}
