/*FONTS WORKING WITH CRHOME ONLY*/
@font-face {
  font-family: myAileronsFont;
  src: url(../typefonts/Ailerons-Typeface.otf);
}

@font-face {
  font-family: myTrackFont;
  src: url(../typefonts/Track.otf);
}

@font-face {
  font-family: myCornerstoneFont;
  src: url(../typefonts/Cornerstone.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

body {
  /* top, transparent red, faked with gradient */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/office-wallpaper-9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* INDEX PAGE */
#indexLogo {
	position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	outline: .25vw solid white;
	outline-offset: 3vw;
	font-family: myAileronsFont;
	font-size: 3vw;
}

#indexLogo a{
  color: white;
  text-decoration: none;
}

/* HOME PAGE */
#navibar, #navibarBurger{
  font-family: myAileronsFont;
}

.showcase {
  /*height: 600px;*/
  margin-top: 25px;
  padding: 75px 100px;
  color: white;
}

.showcase h1{
  font-size: 130px;
  font-weight: 900;
  font-family: myAileronsFont;
  padding: 20px 0px;
}

.showcase hr{
  width:450px;
  margin: auto;
  border-width: 5px;
  border-color: red;
}

.showcase p {
  font-size: 35px;
  font-family: myCornerstoneFont;
  text-align: center;
  padding: 20px 0px;
}

.typedElement{
  font-size: 35px;
  font-family: myCornerstoneFont;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

.typed-cursor2{
    padding-top: 75px;
    opacity: 1;
    -webkit-animation: blink 2.5s infinite;
    -moz-animation: blink 2.5s infinite;
    animation: blink 2.5s infinite;
}

.typed-cursor3{
    opacity: 1;
    -webkit-animation: blink 2.5s infinite;
    -moz-animation: blink 2.5s infinite;
    animation: blink 2.5s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#home, #services, #contactForm{
  background-color: rgba(0,150,136,0.3);
}

#getStarted, #portfolio{
  background-color: rgba(255,255,255,0.3);
}

#about, #contact{
  background-color: rgba(0,0,0,0.3);
}

#about button{
  font-size: 30px;
  font-weight: 900;
  font-family: myAileronsFont;
}

#accWho, #accWhat, #accWhere {
  background-color: rgba(0,150,136,0.4);
  border-radius: 25px 25px;
}

.sectionGap{
  height: 100px;
}

.section{
  font-size: 20px;
  font-family: myCornerstoneFont;
  text-align: center;
  padding: 40px 0;
}

.section h2{
  font-size: 45px;
  font-weight: 900;
  font-family: myAileronsFont;
  padding: 0;
  margin: 0;
}

.section h3{
  font-size: 25px;
  font-weight: 900;
  font-family: myAileronsFont;
  text-align: center;
}

#contact{
  padding: 25px 0px;
}

#contactForm{
  border-radius: 125px 25px;
  padding: 20px 75px;
  display: inline-block;
  text-align: center;
}

.section form{
  font-family: myAileronsFont;
}

/*#contactButton{
  font-size: 35px;
  font-family: myAileronsFont;
}*/

.btnReshape {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: myAileronsFont;
  border-radius: 20px;
  overflow: hidden;
  width: 160px;
  -webkit-transition: all        1.2s;
  transition: all        1.2s;
  white-space: nowrap;
  /*font-family: 'Montserrat', sans-serif;*/
  background-color: rgba(0,150,136,0);
}

.btnReshape span {
  display: inline-block;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  /*font-weight: normal;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 25px;
  font-family: myCornerstoneFont;
  opacity: 0;
  -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s;
}

.btnReshape:hover {
  text-align: center;
  width: 400px;
  /*border: 5px solid #4CAF50;*/
}

.btnReshape:hover span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  /*text-decoration: underline;*/
}

#footbar{
  font-family: myAileronsFont;
}

#locationAndWeath{
  font-family: myCornerstoneFont;
  padding: 0px 25px;
}

/*#footbar hr{
  display: none;
}*/

/*Mobile and smaller screens*/

@media only screen and (max-width: 700px) {
  /*body{
    margin-top: 200px;
  }*/

  .showcase{
    /*height: 750px;*/
    padding: 100px 0;
  }

  .showcase h1{
    font-size: 80px;
    /*font-weight: 900;*/
    font-family: myAileronsFont;
    padding-bottom: 20px;
  }

  .showcase hr{
    width:325px;
    margin: auto;
    border-width: 5px;
    border-color: red;
  }

  .showcase p {
    font-size: 23px;
    font-family: myCornerstoneFont;
    text-align: center;
    padding: 20px 0px;
  }

  .typedElement{
    font-size: 23px;
    font-family: myCornerstoneFont;
    text-align: center;
  }

  .btnReshape {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 900;
    font-family: myAileronsFont;
    border-radius: 20px;
    overflow: hidden;
    width: 135px;
    -webkit-transition: all        1.2s;
    transition: all        1.2s;
    white-space: nowrap;
    /*font-family: 'Montserrat', sans-serif;*/
  }

  .btnReshape span {
    display: inline-block;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    font-weight: normal;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 18px;
    font-family: myCornerstoneFont;
    opacity: 0;
    -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s;
  }

  .btnReshape:hover {
    text-align: center;
    width: 300px;
    /*border: 5px solid #4CAF50;*/
  }

  .btnReshape:hover span {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    text-decoration: underline;
  }

  #contact{
    padding: 35px 0px;
    padding-right: 30px;
  }

  #contactForm{
    border-radius: 25px 25px;
    padding: 20px 20px;
  }

  #footbar{
    font-family: myAileronsFont;
    height: auto;
  }

  #locationAndWeath{
    padding: 20px 23px;
    text-align: center;
  }

  /*#footbar hr{
    width: 325px;
    margin: auto;
    border-width: 3px;
    border-color: red;
    display: block;
  }*/
}
